@page {
  size: 16in 9in;
  margin: 0.5in;
  padding: 0;
  @bottom-left {
    background-color: #990000;
    background-image: url('oreilly_logo-01.png');
    background-position: left center;
    background-size: auto 0.25in;
    background-repeat: no-repeat;
  }
  @bottom-center {
    background-color: #990000;
  }
  @bottom-right {
    background-color: #990000;
  }
  @bottom-right-corner {
    background-color: #990000;
  }
}

@page black {
  background-color: black;
}

/* globals */

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  margin-bottom: 1em;
}

/* specifics */

section[data-type="chapter"], section[data-type="titlepage"] {
  text-align: center;
  vertical-align: middle;
  page-break-after: always;
  page-break-inside: avoid;
  margin: 0;
  font-size: 32pt;
  max-height: 7.75in;
  width: 100%;
  -ah-overflow: condense;
  -ah-overflow-condense: font-size;
  -ah-overflow-condense-limit-font-size: 4pt hidden;
  -ah-text-align-last: center;
}

ul {
  font-family: sans-serif;
  text-align: left;
  -ah-text-align-last: left;
  width: 10in;
  margin-left: 2.5in;
}

.hcenter {
  text-align: center;
  -ah-text-align-last: center;
}

ul.hcenter li {
  list-style-position:inside;
}

h1 {
  font-family: sans-serif;
  font-size: 40pt;
  color: #990000;
}

section[data-type="titlepage"] h1 {
  font-size: 58pt;
  color: #000;
  margin-top: 0.5in;
  text-shadow: -1px -1px 5px #d8d8d8;
}

section[data-type="titlepage"] p, section[data-type="titlepage"] li {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
}

section[data-type="titlepage"] p:first-of-type {
  margin-top: 1.25in;
}

.deck-status {
  color: #660000;
}

/* vertical centering */

.vcenter {
    padding:0;
    position:relative;
    top:40%;
    -webkit-transform:translate(0, -40%);
    -moz-transform:translate(0, -40%);
    -ms-transform:translate(0, -40%);
    -o-transform:translate(0, -40%);
    transform:translate(0, -40%);
}

.vcenter h1 {
  position:relative;
  top:auto;
  padding:0;
  -webkit-transform:none;
  -moz-transform:none;
  -ms-transform:none;
  -o-transform:none;
  transform:none;
}
