*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 /* globals */

html {
  background-image: url('footer.png');
  background-position: bottom left;
  background-size: auto 40px;
  background-repeat: no-repeat;
  padding: 0px 40px;
}

body {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 3em;
  color: #990000;
}

ul {
  font-family: sans-serif;
  font-size: 2em;
  text-align: left;
}

ul.hcenter {
  text-align: center;
}

ul.hcenter li {
  list-style-position:inside;
}

li {
  margin-bottom: 1em;
}

/* specifics */

section[data-type="chapter"], section[data-type="titlepage"] {
  padding-bottom: 100px;
  text-align: center;
}

section[data-type="titlepage"] h1 {
  font-size: 4em;
  color: #000;
  text-shadow: -1px -1px 5px #d8d8d8;
}

section[data-type="titlepage"] hr {
  width: 50%;
  border-style: solid;
  margin-bottom: 50px;
  color: #d8d8d8;
  background-color: transparent;
}

section[data-type="titlepage"] p, section[data-type="titlepage"] li {
  margin-top: 0;
  margin-bottom: 0;
}

section[data-type="titlepage"] p:first-of-type {
  margin-top: 50px;
}

section[data-type="titlepage"], section[data-type="chapter"] {
    vertical-align: middle;
}

.deck-status {
  color: #660000;
}

/* vertical centering */

.vcenter {
  text-align:center;
  max-height:100%;
}
  
.csstransforms .vcenter {
    padding:0;
    position:absolute;
    left:0;
    right:0;
    top:40%;
    -webkit-transform:translate(0, -40%);
    -moz-transform:translate(0, -40%);
    -ms-transform:translate(0, -40%);
    -o-transform:translate(0, -40%);
    transform:translate(0, -40%);
}

.vcenter h1 {
  position:relative;
  top:auto;
  padding:0;
  -webkit-transform:none;
  -moz-transform:none;
  -ms-transform:none;
  -o-transform:none;
  transform:none;
}